{
   "ReplicationPort" : 9999,
   "Where" : [
      {
         "BranchName" : "b1",
         "Password" : "123",
         "What" : "default",
         "When" : "*/5 * * * *"
      },
      {
         "BranchName" : "b2",
         "Password" : "321",
         "What" : "b2",
         "When" : "*/20 * * * *"
      }
   ],
   "What" : [
      {
         "Name" : "default",
         "Version" : 1,
         "PropogateHQDeletes" : true,
         "PackageItemLimit" : 10000,
         "HQ2Btypes" : [
            "*"
         ],
         "B2HQtypes" : [
            "*"
         ]
      },
      {
         "Name" : "b2",
         "Version" : 1,
         "PropogateHQDeletes" : true,
         "PackageItemLimit" : 10000,
         "HQ2Btypes" : [
            "config.*"
         ],
         "B2HQtypes" : [
            "*"
         ]
      }
   ]
}