{
   "BitmapOffsetSwitchOverCount" : 10,
   "BackgroundSaveToOtherViews" : true,
   "DefaultStringKeySize" : 60,
   "FreeBitmapMemoryOnSave" : false,
   "PageItemCount" : 10000,
   "SaveIndexToDiskTimerSeconds" : 60,
   "FlushStorageFileImmediately" : false,
   "SaveAsBinaryJSON" : true,
   "TaskCleanupTimerSeconds" : 3,
   "BackgroundSaveViewTimer" : 1,
   "BackgroundViewSaveBatchSize" : 1000000,
   "RestoreTimerSeconds" : 10,
   "FullTextTimerSeconds" : 15,
   "BackgroundFullTextIndexBatchSize" : 10000,
   "FreeMemoryTimerSeconds" : 60,
   "MemoryLimit" : 100,
   "BackupCronSchedule" : "0 0 * * *",
   "RequirePrimaryView" : true,
   "PackageSizeItemCountLimit" : 10000,
   "ProcessInboxTimerSeconds" : 10
}